<!DOCTYPE html>
<html>
  <head>
	<title> AP in the Sky(Service Monitor Application)</title>
  <% include ./common/header.ejs %>
    <!-- Custom CSS -->
    <link rel='stylesheet' href='/css/common/nav-bar.css' />
    <link rel='stylesheet' href='/css/submitServicePage/submitServicePage.css' />
   
     <!--JS --> 
    <script src="/javascripts/submitServicePage/submitServicePage.js"></script>
    <!-- datetime picker assets -->   
    <script type="text/javascript" src="/bower_components/jquery/dist/jquery.min.js"></script>
    <script type="text/javascript" src="/bower_components/moment/min/moment.min.js"></script>
    <script type="text/javascript" src="/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="/bower_components/eonasdan-bootstrap-datetimepicker/build/js/bootstrap-datetimepicker.min.js"></script>
    <link rel="stylesheet" href="/bower_components/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="/bower_components/eonasdan-bootstrap-datetimepicker/build/css/bootstrap-datetimepicker.min.css" />
  </head>
  <body>  
    <% include ./common/nav-bar.ejs %>

    <div id="main-container">
      <!-- #table-container>#1 -->
      <div id="head-container" class = "container">
        제출된 서비스 
      </div>
      <!-- #table-container>#2 -->
      <div id="table-container" class = "container">
        <table class="table table-fixed">
          <thead>  
            <tr>
              <th style="display:none;" >오브젝트 아이디</th>
              <th>서비스 신청 시점</th>
              <th>서비스 시작 시점</th>
              <th>서비스 종료 시점</th>
              <th>드론수</th>
              <th>서버 포트</th>
              <th>이메일</th>
              <th>전화번호</th>
              <th>상태</th>
              <th></th>
              <th></th>
              <th></th>
            </tr>
          </thead>
          <tbody>
            <% for(var i = 0; i < submitList.length; i++){ %>
              <tr>
                <td style="display:none;" ><%= submitList[i]._id.toString() %></td>
                <td class="table-data"><%= submitList[i].loggingDate %></td>
                <td class="table-data"><%= submitList[i].serviceStartDate %></td>
                <td class="table-data"><%= submitList[i].serviceEndDate %></td>
                <td><%= submitList[i].drone.num %></td>
                <td><%= submitList[i].server.port %></td>
                <td><%= submitList[i].contact.email %></td>
                <td><%= submitList[i].contact.number %></td>
                <td><%= submitList[i].state %></td>
                <% if(submitList[i].state == 'execute'){%>
                  <td><button type="button" id="view" class="btn btn-info"> view </button></td>
                  <td><button type="button" id="term" class="btn btn-info"> term </button></td>
                <%}%>
                <% if(submitList[i].state == 'submit'){%>
                  <td><button type="button" id="make-data" class="btn btn-info"> make data </button></td>
                  <td><button type="button" id="execute" class="btn btn-info"> execute </button></td>
                  <td><button type="button" id="delete" class="btn btn-info"> delete </button></td>
                <%}%>

              </tr>
            <% } %>
          </tbody>
        </table>
        <script>
          addTableEvents()
          convertTimeFormat("yyyy-MM-dd\n HH시 mm분 E")
        </script>
      </div><!-- table container -->
    </div> <!-- main container  -->
  </body>
</html>